#container {
    -fx-background-color: #825F45;
}

.button {
    -fx-background-color: #A47551;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: infinity;
}

#title, #capacity, #position {
    -fx-fill: #EEE8E3;
}

#title {
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-text-alignment: center;
}

#animalsScroll > .viewport {
    -fx-background-color: transparent;
}

#animalsScroll {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.animal-component {
    -fx-background-color: #4F4136;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

#animalsScroll > #animalsVB > .text, .ac-text {
    -fx-fill: white;
}
