#container {
    -fx-background-color: #4F4136;
}

.icon {
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #A47551;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: infinity;
    -fx-font-size: 13;
}

#title, #capacity, #position {
    -fx-fill: #EEE8E3;
}

#title {
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-text-alignment: center;
}

#animalsScroll > .viewport {
    -fx-background-color: transparent;
}

#animalsScroll {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.bgArea {
    -fx-background-color: #282727;
}

#name, #species, #stats, #currentMode {
    -fx-fill: #EEE8E3;
}

.removeBtn {
    -fx-background-color: red;
    -fx-fill: red;
}

.animal-view {
    -fx-border-insets: 5;
    -fx-border-color: black;
}

.progress-bar {
    -fx-shadow-highlight-color: transparent;
}

.progress-bar .track {
    -fx-text-box-border: black;
    -fx-control-inner-background: black;
}

.animal-view #healthBar {
    -fx-accent: #A45151;
}

#healthLabel, #waterLabel, #foodLabel {
    -fx-fill: #EEE7E2;
    -fx-font-style: italic;
}

.barText, .barValueText {
    -fx-fill: #EEE7E2;
    -fx-font-style: italic;
}

/*
#healthLabel {
    -fx-fill: #A45151;
    -fx-fill: #EEE7E2;
    -fx-font-style: italic;
}

#waterLabel {
    -fx-fill: #5170A4;
}

#foodLabel {
    -fx-fill: #A4A251;
}
*/
.animal-view #foodBar {
    -fx-accent: #A4A251;
}

.animal-view #waterBar {
    -fx-accent: #5170A4;
}


/*
#A45151;

#A4A251;

#5170A4
*/